header{
    height: 5vh;
}

section{
    height: 90vh;
}

/* #question{
    height: 20vh;
} */

footer{
    height: 5vh;
}

.cart{
    width: 18rem;
}

#validation-question, #next-question{
    position: fixed;
    bottom: 10vh;
    left: 25vw;
    width: 50vw;
}